@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: white;
    position: relative;
}

span{
    color:#6CC911;
    background-color: transparent;
    display: block;
}

.span2{
    color: white;
    display: inline;
}



header {
    width: 100%;
    clear: both;
    z-index: 1;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    background-color: #4a8d548f;  
    opacity: 1;
    animation: nav-load 1.5s ease-in ;
    

}

.showcase {
    width: 100%;
    position: relative;
    height: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0px;
    
   
    
}



.logo {
    width: 45px;
    cursor: pointer;
    padding: 20px 0px;
    margin-top: 30px;
}


nav {
    padding: 0px;
    margin: -10px;
    position: absolute;
    left: 32%;
}

.nav_links ul li {
    list-style: none;

}



.nav_links li {
    display: inline-block;
    padding: 0px 55px;
    margin: 0px auto;
}

.nav_links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    font-size: 18px;

}

.nav_links li a {
    color: white;
    ;
}

button {

    padding: 9px 25px;
    background-color: #7cf10d;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 700;
}

.nav_links li a:hover {
    color: #87e135;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8)
}


.nav-toggle {
    display: none;
}

.outer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    color: black;
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 3em;
}

.Gallery_images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 0 1em;
    background-color: ;
    border: solid #040F2E;
}

.Gallery_images img{
width: 100%;
cursor: pointer;
border: solid black;
opacity: 0.7;
transition: 0.3s all ease;
margin: 10px 0em;
}

.Gallery_images img:hover{
    transform: scale(0.9);
    opacity: 1;
    
    }

    .modal{
      position: fixed;
      height:100%;
      width: 100%;
      top:0;
      left: 0;
      background-color: #06112A;
      color: white;
      z-index: 1;
      overflow: auto;
      opacity: 0;
      pointer-events: none;
      
    }

    .modal-flex{
        width: 95%;
        height: 746px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px auto;
        
    }

    .box{
        width: 20%;
        height: 70%;
       margin: 80px auto;
        background-color: black;
        object-fit: cover;
      
    }

    .box2{
        width: 100%;
        background-color:transparent;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        align-items: center;
        margin:0px;
       
    }


    .box-img{
        width: 100%;
        object-fit: contain;
        border: solid black;
        cursor: pointer;
    }

    .modalContent{
        width: 80%;
        height: auto;
        min-height: auto;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        margin-left: 100px;  
    }

    .modalflex2{
        display: flex;
        
    }

    .modalImg{
        width: 100%;
        max-width: 900px;
        border: solid white;
    
        
    }

    .modalTxt{
        margin-top: 0.5em;
        text-align: center;
    }
    
    .close{
    position: absolute;
    top:1em; 
    right: 1.5em;
    font-size: 30px; 
    cursor: pointer;  
    }

    .modal.appear{
        opacity: 1;
        pointer-events: all;
    }

    .modal.appear {
        animation: zoom 0.4s; linear;
    }


    
.Footer{
    width: 100%;
    height:285px;
    background-color: #040F2E;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1px;
    position: absolute;
    top: 210%;
    left: 0%;
   
}

.footer-logo{
    width: 33.33%;
    height: 100%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.footer-logo h4{
    width: 70%;
    color: white;
}

.footer_logo{
    width: 45px;
    cursor: pointer;
}

.icons2{
    width: 50%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

}

.footer-icons{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #5EA51D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   margin-right:50px; 
}


.footer-nav li{
    list-style: none;
    color: white;
    margin-top:15px;
    cursor: pointer;
}

.footer-nav a{
    text-decoration: none;
}

.footer-nav ul {
margin-top: 25px;
}
.footer-nav h2{
    color: white;
    margin-bottom: -25px;
    color: white;
}

.bannerTxt2{
    width: 90%;
    margin-top: 40px;
    font-size: 14px;
    
}

.banner-icon{
    margin-top: 40px; 
}

.bannerTxt2 a{
    text-decoration: none;
    
}

.footer-banner{
    width: 33.33%;
    margin-left: 100px;
}


    


    @keyframes zoom{
       from{
           transform: scale(0);
       }

       to{
           transform:scale(1); 
       }
    }

    .banner{
        overflow: hidden;
        width: 100%;
        background-color:#040F2E;
        display: flex;
        margin: 0px;
      
    }
    
    .banner2{
        width: 33%;
        height: 50px;
        margin: 40px 70px;
        background-color:;
        color: white;
        display: flex;
        animation: content-load 900ms ease-in;
       
    }

    .gallery-content{
        margin: 70px 0px;
        animation: nav-load 1.5s ease-in;
    }

    .gallery-content p {
        margin-top: 20px;
    }

    @keyframes nav-load {
        0% {
    
            opacity: 0;
        }
    
        100% {
    
            opacity: 0.8;
        }
    }

    @keyframes content-load{
        0%{
            transform: translateY(-100%);
        }
   
        100%{
           transform: translateY(0%);
        }
    }

    @keyframes nav-load {
        0% {
           
           opacity: 0;
        }
   
        100%{
          
           opacity: 0.8;
        }
    }

    .svg-icon{
        margin-right: 25px;
        min-width: 50px;
    }
    
    .bannerTxt{
        font-size: 12px;
    }

   
    
    @media only screen and (max-width: 600px) {
        .Gallery_images{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2em;
            margin: 0 1em;
        }
        .banner2{
            width: 100%;
            height: 50px;
            margin: 20px 20px;
        }

        .Gallery_images img{
            width: 100%;
            cursor: pointer;
            border: solid black;
            opacity: 1;
    }
}

    @media only screen and (max-width: 700px) {
        .nav_links li {
            display: block;
            padding: 0px;
            margin: 20px 10px;
            width: 50%;
        }

      
    
    
       
    
        nav {
            width: 100%;
            height: 180px;
            text-align: left;
            position: absolute;
            top:32%;
            left: 0%;
            background-color: #06112A;
            opacity: 0.8;
            padding: 0px 0%;
            margin: 0 auto;
            transform: scale(1, 0);
            transform-origin: top;
            transition: transform 400ms ease-in-out;
    
        }
    
    
        nav a {
            opacity: 0;
            transition: opacity 250ms ease-in-out 2500ms;
        }
    
    
        .nav-toggle {
            display: none;
        }
    
        .nav-toggle-label span,
        .nav-toggle-label span::before,
        .nav-toggle-label span::after {
            display: block;
            background-color: white;
            height: 2px;
            width: 2em;
            border-radius: 2px;
            position: relative;
        }
    
        .nav-toggle-label span::before,
        .nav-toggle-label span::after {
            content: "";
            position: absolute;
        }
    
        .nav-toggle-label span::before {
            bottom: 7px;
        }
    
        .nav-toggle-label span::after {
            top: 7px;
        }
    
    
        header {
            opacity: 1;
        }
    
        .nav-toggle:checked~nav {
            transform: scale(1, 1);
        }
    
        .nav-toggle:checked~nav a {
            opacity: 1;
        }
    }


    @media only screen and (max-width: 760px) {
        .nav_links li {
            width: 10%;
        }
    
    }




    @media only screen and (max-width: 1000px) {

    .banner{
        flex-direction: column;
    }

    .banner2{
        width: 100%;
        height: 50px;
        margin: 20px 20px;
    }

    .cta {
        display: none;
    }

    .banner{
        flex-direction: column;
    }

    .banner2{
        width: 100%;
        height: 50px;
        margin: 20px 20px;
    }

    .modal{
        position: fixed;
        height:100%;
        width: 100%;
        top:0;
        left: 0;
        background-color: #06112A;
        color: white;
        z-index: 1;
        overflow: auto;
        opacity: 0;
        pointer-events: none;
        
      }
  
      .modal-flex{
          width: 95%;
          height: 746px;
          display: block;
          margin: 0px auto;
          
      }
  
      .box{
          width: 100%;
          height: auto;
         margin: 0px auto;
          background-color: black;
          object-fit: cover;
        
      }
  
      .box2{
          width: 100%;
          background-color:transparent;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: 0.5em;
          align-items: center;
          margin:0px;
         
      }

      .modalflex2{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
      }
  
  
      .box-img{
          width: 100%;
          object-fit: contain;
          border: solid black;
          cursor: pointer;
      }
  
      .modalContent{
          width: 80%;
          height: auto;
          min-height: auto;
          display: flex;
          justify-content: center;
          align-self: center;
          flex-direction: column;
          margin-left: 0px;  
      }
      .Footer{
        width: 100%;
        height: 800px;
        background-color: #040F2E;
        display: flex;
        align-items: flex-start;
        justify-content:space-evenly;
        flex-direction: column;
       
    }
    
    .footer-banner{
        width: 80%;
        margin-left: 0px;
       
        
    }
    
    .footer__banner{
        display: flex;
        flex-direction: row;
        width: 100%;
       
    }
    
    
    .bannerTxt2{
        width: 80%;
    }
    
    .footer-logo{
    margin-top: 20px;
    width: 80%;
    height: auto;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    
    }
    
    .footer-logo h4{
        width: 100%;
    }
    
    .footer-nav{
        width: 80%;
       display: block;
       margin-left: 20px; 
       margin-right:0px;
       background-color;
      
    }
    .footer-nav h2{
       margin:20px 0px;
    }
    
    .footer-nav ul{
        margin-top: 0px;
    }
    
    
    .footer-nav li{
        margin-top:20px;
    }
    
  
    }

    